<md-dialog aria-label="Mango (Fruit)">
  <form>
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 style="color:#fff">Welcome!</h2>
      </div>
    </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;color:#444">
<div class="md-dialog-content" layout="column">
  <p>Thank you for joining Jump In! You are an early adopter and we are still working out the kinks. Stay tuned for some exciting new features coming soon!</p>
</div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>