<?xml version='1.0' encoding='utf-8'?>
<widget id="io.melle.dgcleaning" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DG Cleaning Services</name>
    <description>
        Philadelphia Area Cleaning Services
    </description>
    <author email="l@emelle.me" href="http://cordova.io">
        -melle.io-
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-inappbrowser" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon height="40" src="res/icon-small.png" width="40" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- you can use any density that exists in the Android project -->
    <splash src="res/screens/android/screen-hdpi-portrait.png" density="land-hdpi"/>
    <splash src="res/screens/android/screen-ldpi-portrait.png" density="land-ldpi"/>
    <splash src="res/screens/android/screen-mdpi-portrait.png" density="land-mdpi"/>
    <splash src="res/screens/android/screen-xhdpi-portrait.png" density="land-xhdpi"/>

    <splash src="res/screens/android/splash-hdpi-portrait.png" density="port-hdpi"/>
    <splash src="res/screens/android/splash-ldpi-portrait.png" density="port-ldpi"/>
    <splash src="res/screens/android/splash-mdpi-portrait.png" density="port-mdpi"/>
    <splash src="res/screens/android/splash-xhdpi-portrait.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
    </platform>
    <preference name="orientation" value="portrait" />
    <engine name="android" spec="~5.1.1" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
