<!DOCTYPE html>
<html>
    <head>
        <!-- start: Meta. Tagz -->
        
        <title>med</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" > 
        <!-- Enable all requests, inline styles, and eval() -->
        <!-- Allows XHRs only over HTTPS on the same domain. -->
<meta http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data:; style-src * 'unsafe-inline'; media-src *;script-src 'self' https://cdn.firebase.com https://*.firebaseio.com https://*.gstatic.com http://*.google.com https://*.google.com 'unsafe-eval'; object-src 'self' 'unsafe-eval'">

        
        <link href="./themes/material/css/icomoon.css" rel="stylesheet">
        <link href="./bower_components/angular-material/angular-material.min.css" rel="stylesheet" type="text/css"/>
        <link href="./themes/material/css/app.css" rel="stylesheet">
        <!-- style sheet -->
        <!-- module -->
        
    </head>
    <body ng-app="materialApp">
    <div ng-controller="DashCtrl as ul" layout="column" ng-cloak style="height:100%">
        
        <md-toolbar>
            <div class="md-toolbar-tools" style="color:#FFF">
                <!-- <md-button class="md-icon-button" ng-click="toggleMenu()">
                <md-icon md-font-icon="icon-menu" ng-style="{'font-size': '28px'}" aria-label="Show Menu"></md-icon>
                </md-button> -->
                
                <span flex hide show-gt-xs></span>
                <!-- <h2 class="subpage" hide-xs>Home</h2> -->
                <div flex-gt-xs="30" style="position:relative;top:7px;padding: 0px 5px;" flex="75" class="toolbarSearch">
                    <md-input-container md-no-float style="width: 100%" class="md-block">
                        <md-icon md-font-icon="icon-search" ng-style="{'color':'#fff'}" aria-label="searchicon"></md-icon>
                        
                        <input ng-model="user.query" placeholder="Search Doctor" ng-keyup="ul.search($event)" style="height:26px">
                    </md-input-container>
                </div>
                
                
                <span flex></span>
                <div layout="row">
                    <md-menu>
                    <md-button class="md-icon-button" ng-click="ul.openNotificationsMenu($mdOpenMenu, $event)">
                        <md-icon md-font-icon="icon-more-vert" ng-style="{'color':'#FFF','font-size':'26px'}" aria-label="Show Menu"></md-icon>
                    </md-button>
                    <md-menu-content  width="4">
                        <md-menu-item ng-hide="$root.isAuth">
                          <md-button class="md-primary" ng-click="ul.login($event)">
                            History
                          </md-button>
                        </md-menu-item>
                        <!-- <md-menu-item ng-show="$root.isAuth">
                          <md-button class="md-primary" ng-click="ul.login($event)">
                            Log Out
                          </md-button>
                        </md-menu-item> -->
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                          <md-button class="md-primary" ng-click="ctrl.toggleNotifications()">
                            New
                          </md-button>
                        </md-menu-item>
                    </md-menu-content>
                    </md-menu>
                  <img ng-src="{{$root.user.twitter.profileImageURL}}" style="border-radius:50%">
                </div>
          </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-hide="ul.isLoading"></md-progress-linear>

        <div ng-cloak layout-xs="column" layout="column" layout-align="start start" style="">
            <div layout-align="start start" layout="row">
                  <div layout="column">
                        <md-select placeholder="Choose Doctor" ng-model="user" md-on-open="loadUsers()" style="min-width: 200px;padding: 0px">
                          <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
                        </md-select>
                  </div>
            </div>

            <div layout-align="start start" layout="row">
                  <div layout="column">
                        <md-select placeholder="Choose Survey" ng-model="survey" md-on-open="loadSurveys()" style="min-width: 200px;padding: 0px">
                          <md-option ng-value="survey" ng-repeat="s in surveys">{{s.Title}}</md-option>
                        </md-select>
                  </div>
            </div>

            <md-content flex layout-padding>
            <div style="min-width:320px;" layout-fill ng-repeat="item in survey.items" layout="column">
              <p>{{item.Content}}</p>
              <div layout="column">
                <md-select ng-show="(item.AnswerType == 'yes_no')" placeholder="Answer" ng-model="answer$index" md-on-open="loadAnswers()" style="min-width: 200px;padding: 0px">
                  <md-option ng-value="a" ng-repeat="a in answers">{{a.name}}</md-option>
                </md-select>
              </div>
            </div>
            
            
  </md-content>
  
</div>
<md-divider></md-divider>
  <md-button class="md-raised md-primary md-hue-1">Save</md-button>
<!-- <footer id="footer"  style="border-top: 1px solid #7A385F;" layout="row">
    <div layout-padding>
    <img height="50" ng-show="{{(event.main_image ===undefined)}}" ng-src="./themes/material/img/jumpIn-small.png"></div>
    <span flex></span>
      <div layout="column" layout-fill layout-align="end center">
      <p>
        <a href="/#/terms">
          Terms and Conditions
        </a>
      </p>
      <p>
        <a href="/#/privacy">
          Privacy Policy
        </a>
      </p>
      </div>
    </footer> -->
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
    <script type="text/javascript" src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script src="./bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script type="text/javascript" src="./bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material/angular-material.min.js"></script>
        <script src="./themes/material/js/paginator.js"></script>
        <script src="./themes/material/js/main.js"></script>
        
  </body>
</html>
