<!DOCTYPE html>
<html>
    <head>
        <!-- start: Meta. Tagz -->
        
        <title>jump in</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" > 
        <!-- Enable all requests, inline styles, and eval() -->
        <!-- Allows XHRs only over HTTPS on the same domain. -->


        <link rel="shortcut icon" type="image/x-icon" href="./themes/material/img/favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Zeyada' rel='stylesheet' type='text/css'>
        
        <link href="./themes/material/css/icomoon.css" rel="stylesheet">
        <link href="./bower_components/angular-material/angular-material.min.css" rel="stylesheet" type="text/css"/>
        <link href="./themes/material/css/app.css" rel="stylesheet">
        <!-- style sheet -->
        <!-- module -->
        
    </head>
    <body ng-app="materialApp">
    <div ng-controller="DashCtrl as ul" layout="column" layout-fill ng-cloak>
        
        <md-toolbar class="md-whiteframe-glow-z1" aria-hidden="false">
            <div class="md-toolbar-tools" style="color:#FFF">
                <!-- <md-button class="md-icon-button" ng-click="toggleMenu()">
                <md-icon md-font-icon="icon-menu" ng-style="{'font-size': '28px'}" aria-label="Show Menu"></md-icon>
                </md-button> -->
                <h2 class="brand">Jump In</h2>
                
                <span flex hide-xs></span>
                <!-- <h2 class="subpage" hide-xs>Home</h2> -->
                <div flex-gt-xs="30" style="padding: 4px 10px;" flex="75" class="toolbarSearch">
                    <md-input-container md-no-float style="width: 100%" class="md-block">
                        <md-icon md-font-icon="icon-search" ng-style="{'color':'#fff'}" aria-label="searchicon"></md-icon>
                        
                        <md-autocomplete
                      ng-disabled="ul.isDisabled"
                      md-no-cache="ul.noCache"
                      md-selected-item="ul.selectedDeal"
                      md-search-text-change="ul.searchTextChange(ul.searchText)"
                      md-search-text="ul.searchText"
                      md-selected-item-change="ul.selectedItemChange(item)"
                      md-items="item in ul.qSearch(ul.searchText)"
                      md-item-text="item.display"
                      md-min-length="0"
                      placeholder="Jump In"
                      style="background: rgba(0, 0, 0, 0);">
                    <md-item-template>
                      <span md-highlight-text="ul.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                      Not tags found.
                      <a ng-click="ul.newDeal($event,ul.searchText,selectedItem.raw.account_number)">Add a new one!</a>
                    </md-not-found>
                  </md-autocomplete>
                    </md-input-container>
                </div>
                <md-button ng-show="$root.authData" class="md-icon-button" ng-click="ul.currentLocation($event)">
                <md-tooltip md-direction="bottom">
                Use Current Location
                </md-tooltip>
                <md-icon md-font-icon="icon-location-searching" ng-style="{'font-size': '24px'}"></md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="ul.search($event)" ng-show="ul.isAuth">
                <md-tooltip md-direction="bottom">
                Advanced Search Filters
                </md-tooltip>
                    <md-icon md-font-icon="icon-filter-list" ng-style="{'font-size': '24px'}"></md-icon>
                </md-button>
                <span flex></span>
                <div layout="row">
                    <md-menu>
                    <md-button class="md-icon-button" ng-click="ul.openNotificationsMenu($mdOpenMenu, $event)">
                        <md-icon md-font-icon="icon-more-vert" ng-style="{'color':'#FFF','font-size':'26px'}" aria-label="Show Menu"></md-icon>
                    </md-button>
                    <md-menu-content  width="4">
                        <md-menu-item ng-hide="$root.isAuth">
                          <md-button class="md-primary" ng-click="ul.login($event)">
                            Log In
                          </md-button>
                        </md-menu-item>
                        <md-menu-item ng-show="$root.isAuth">
                          <md-button class="md-primary" ng-click="ul.login($event)">
                            Log Out
                          </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                          <md-button class="md-primary" ng-click="ctrl.toggleNotifications()">
                            About
                          </md-button>
                        </md-menu-item>
                    </md-menu-content>
                    </md-menu>
                  <img ng-src="{{$root.user.twitter.profileImageURL}}" style="border-radius:50%">
                </div>
          </div>
        </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-show="ul.isLoading"></md-progress-linear>
        <md-content  flex layout="row" layout-wrap layout-align="center center">
        <!-- <div style="background-color:rgba(0, 0, 0, 0.15);" flex="100" flex-gt-xs="50" layout="column">
            <md-card ng-show="$root.featuredEvents" ng-repeat="event in $root.featuredEvents | limitTo: 10">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{event.title}}</span>
                <span class="md-subhead" style="font-weight: bold;">{{event.venue_name}}</span>
                <span class="md-subhead">{{event.start_date+' '+event.start_time| formatDate}} <br>{{event.start_date+' '+event.start_time | formatTime}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img ng-show="{{event.main_image!==undefined}}" src="{{event.main_image}}">
                    <img ng-show="{{(event.main_image ===undefined)}}" ng-src="/themes/material/img/jumpIn-small.png">
                    
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content>
                {{event.summary}}
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">

                <md-button aria-label="save" class="md-fab">
                    <md-icon md-font-icon="icon-event-available" ng-style="{'font-size': '24px','color':'#ff0'}"></md-icon>
                </md-button>

              <md-card-icon-actions>
                <md-button class="md-icon" aria-label="toggle">
                  <md-icon md-font-icon="icon-local-play" ng-style="{'font-size': '28px'}"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="toggle">
                  <md-icon md-font-icon="icon-share" ng-style="{'font-size': '28px'}"></md-icon>
                </md-button>
              </md-card-icon-actions>
          </md-card>
        </div> -->
        <span flex></span>
        <div flex="50" flex-gt-xs="50" layout="column" style="padding-top: 300px;">
            <md-card ng-repeat="event in $root.events | limitTo: 10">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{event.title}}</span>
                <span class="md-subhead" style="font-weight: bold;">{{event.venue_name}}</span>
                <span class="md-subhead">{{event.start_date+' '+event.start_time| formatDate}} <br>{{event.start_date+' '+event.start_time | formatTime}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img ng-show="{{event.main_image!==undefined}}" src="{{event.main_image}}">
                    <img ng-show="{{(event.main_image ===undefined)}}" ng-src="./themes/material/img/jumpIn-small.png">
                    
                </div>
              </md-card-title-media>
            </md-card-title>
            <md-card-content>
                {{event.summary}}
            </md-card-content>
            <md-card-actions layout="row" layout-align="start center">

                <md-button aria-label="save" class="md-fab" ng-click="ul.download($event)">
                    <md-icon md-font-icon="icon-event-available" ng-style="{'font-size': '24px','color':'#ff0'}"></md-icon>
                </md-button>

              <md-card-icon-actions>
                <md-button class="md-icon-button" aria-label="toggle" ng-href="{{event.link}}">
                  <md-icon md-font-icon="icon-local-play" ng-style="{'font-size': '28px'}"></md-icon>
                </md-button>

                <md-button class="md-icon-button" aria-label="toggle" ng-click="ul.share($event)">
                  <md-icon md-font-icon="icon-share" ng-style="{'font-size': '28px'}"></md-icon>
                </md-button>
              </md-card-icon-actions>
            </md-card-actions>
          </md-card>
          <md-card>
          <md-button ng-hide="ul.isLoading" ng-click="ul.loadMore($event)" class="md-raised md-primary md-hue-2" ng-style="{color:'#FFFFFF','background-color': '#000',border: '1px solid #424242','font-size': '18px','min-width':'260px'}">Load More</md-button>
          </md-card>
        </div>
        <span flex></span>
        </md-content>
</div>
<!-- <footer id="footer"  style="border-top: 1px solid #7A385F;" layout="row">
    <div layout-padding><img height="50" ng-show="{{(event.main_image ===undefined)}}" ng-src="./themes/material/img/jumpIn-small.png"></div>
    <span flex></span>
      <div layout="column" layout-fill layout-align="end center">
      <p>
        <a href="/#/terms">
          Terms and Conditions
        </a>
      </p>
      <p>
        <a href="/#/privacy">
          Privacy Policy
        </a>
      </p>
      </div>
    </footer> -->

    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <script type="text/javascript" src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script type="text/javascript" src="./bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material/angular-material.min.js"></script>
        <script src="./themes/material/js/paginator.js"></script>
        <script src="./themes/material/js/web.js"></script>
        
  </body>
</html>