<!DOCTYPE html>
<html>
    <head>
        <!-- start: Meta. Tagz -->
        
        <title>DealSpace</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" > 
        <!-- Enable all requests, inline styles, and eval() -->
        <!-- Allows XHRs only over HTTPS on the same domain. -->
<meta http-equiv="Content-Security-Policy" content="default-src *;img-src * 'self' data:; style-src * 'unsafe-inline'; media-src *;script-src 'self' https://cdn.firebase.com https://*.firebaseio.com https://*.firebaseio.co https://*.firebaseapp.com https://*.gstatic.com http://*.google.com https://*.google.com https://*.googleapis.com https://*.emelle.me http://*.emelle.me 'unsafe-eval'; object-src 'self' 'unsafe-eval'">
        
        <link href="./themes/material/css/icomoon.css" rel="stylesheet">
        <link href="./bower_components/angular-material/angular-material.min.css" rel="stylesheet" type="text/css"/>
        <link href="./themes/material/css/app.css" rel="stylesheet">
        <!-- style sheet -->
        <!-- module -->
        
    </head>
    <body ng-app="materialApp">
    <div ng-controller="DashCtrl as ul" layout="column" ng-cloak style="height:100%">
      <md-toolbar layout="row" layout-align="start center" class="main-toolbar">
          <md-button class="md-icon-button" ng-click="$root.openPage('home')" aria-label="Search">
            <md-icon md-font-icon="icon-search" alt="edit" ng-style="{'font-size':'24px'}"></md-icon>
          </md-button>
          <span flex-xs="10"></span>
          <md-toolbar-title style="text-align:center">
            <span ng-class="$root.subTitleClass" ng-bind-html="$root.subTitle"></span>
          </md-toolbar-title>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="ul.getMyLocation($event)" aria-label="Search">
            <md-icon md-font-icon="icon-location-on" alt="edit" ng-style="{'font-size':'24px'}"></md-icon>
          </md-button>
          <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ul.openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-font-icon="icon-more-vert" ng-style="{'font-size': '24px', height: '40px'}"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-show="!$root.fireUser">
          <md-button ng-click="ul.registerUser($event)">
            <md-icon md-font-icon="icon-history" md-menu-align-target></md-icon>
            Register
          </md-button>
        </md-menu-item ng-show="$root.fireUser">
        <md-menu-item>
          <md-button ng-click="ul.redial($event)">
            <md-icon md-font-icon="icon-history" md-menu-align-target></md-icon>
            Search History
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-show="$root.fireUser" ng-click="ul.checkVoicemail()">
            <md-icon md-svg-icon="call:voicemail"></md-icon>
            My Deals
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="$root.parcel_id && $root.currentCity == 'philly'">
          <md-button ng-disabled="(!isAuth)" ng-click="ul.checkVoicemail()">
            <md-icon md-svg-icon="call:voicemail"></md-icon>
            Properties on this block
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-disabled="(!isAuth)" ng-click="ul.checkVoicemail()">
            <md-icon md-font-icon="icon-settings"></md-icon>
            Settings
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="ul.fireInOut()">
            <md-icon md-svg-icon="social:notifications-{{ul.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
            {{$root.fireUser ? 'Sign Out' : 'Sign In' }}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
      </md-toolbar>
        <md-progress-linear md-mode="indeterminate" ng-show="$root.searching"></md-progress-linear>        
        <div ui-view ng-cloak layout-align="start start" style=""></div>
  </div>
<!-- <footer id="footer"  style="border-top: 1px solid #7A385F;" layout="row">
    <div layout-padding>
    <img height="50" ng-show="{{(event.main_image ===undefined)}}" ng-src="./themes/material/img/jumpIn-small.png"></div>
    <span flex></span>
      <div layout="column" layout-fill layout-align="end center">
      <p>
        <a href="/#/terms">
          Terms and Conditions
        </a>
      </p>
      <p>
        <a href="/#/privacy">
          Privacy Policy
        </a>
      </p>
      </div>
    </footer> -->
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script type="text/javascript" src="./bower_components/lodash/dist/lodash.min.js"></script>
    
    <script type="text/javascript" src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="./bower_components/angularfire/dist/angularfire.js"></script>
    <script src="./bower_components/ngCordova/dist/ng-cordova.js"></script>
    <script type="text/javascript" src="./bower_components/moment/moment.js"></script>
        <script type="text/javascript" src="./bower_components/angular-animate/angular-animate.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-aria/angular-aria.min.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material/angular-material.min.js"></script>
        <script src="./themes/material/js/app.module.js"></script>
        <script src="./themes/material/js/app.storage.js"></script>
        <script src="./themes/material/js/main.js"></script>
        <script src="./themes/material/js/home.js"></script>
        <script src="./themes/material/js/property.js"></script>
        
  </body>
</html>
