<md-dialog aria-label="List dialog">
<form>
<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">{{warning}}</h2>
      <span flex></span>
      <md-progress-circular ng-hide="{{test}}" class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>
  </md-toolbar>
<md-dialog-content layout="column" layout-padding layout="center center" layout-fill>

      <div >

        <md-input-container flex md-no-float>
          <label>Email</label>
          <input type="email" ng-model="email">
        </md-input-container>
      </div>
      <md-input-container flex md-no-float>
        <label>Password</label>
        <input type="password" ng-model="password">
        <p><a href="">Forgot Password?</a></p>
      </md-input-container>
    
      
  </md-dialog-content>
<md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="register(event)">Register</md-button>
      <span flex></span>
      <md-button class="md-raised" ng-click="loginUser(event)">Log In</md-button>
    </md-dialog-actions>
</form>
</md-dialog>