div.radioSearch {
  margin-bottom: 20px; }

 .radioSearch .md-checked {
  background-color: #ECFAFB;
  border-radius: 2px; }

  .radioSearch .row {
  border-bottom: 1px dashed #ddd; }

  .radioSearch div.row:last-child {
   }

   .prop-detail{
   	font-size: 12px;
   }

   .property-images #horizontal-container {
  height: 100px;
  width: 100%; }
.property-images .repeated-item {
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  height: 84px;
  padding-top: 5px;
  text-align: center;
  width: 120px; }
.property-images md-content {
  margin: 16px; }
.property-images md-virtual-repeat-container {
   }

.prop-detail md-tabs-wrapper md-prev-button md-icon {
    color: #fff !important;
  }

.prop-detail md-tabs-wrapper md-next-button md-icon {
    color: #fff !important;
  }

.selectdemoSelectHeader md-content._md {
    max-height: 240px; }

.demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }

.demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
/* The starting CSS styles for the enter animation */
h2.parclFade {
  opacity: 0;
    transition: all 1s linear;
}
.parclFade.fade-in {
  opacity: 1;
}

